/*h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 43px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0px;
}*/

:root {
  --primary-font: "Noto Serif HK", serif;
  --secondary-font: "Koulen", cursive;

  --primary-color: #222831;
  --secondary-color: #f2f2f2;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-1 {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}

.headings {
  max-width: fit-content;
  text-align: center;
  align-self: center;
}

h1 {
  font-family: var(--primary-font);
  font-size: 2.3vw;
  letter-spacing: 1.5px;

  margin: 0 0 15px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 6vw;
  line-height: 1;

  margin: 0;
}

.slogan {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;

  font-family: var(--secondary-font);
  font-size: 1.3vw;
  line-height: 1.3;
  letter-spacing: 3px;
  text-align: right;
}

.photo {
  align-self: end;
}

.container-2 {
  display: flex;
  background: var(--secondary-color);
  color: var(--primary-color);
  margin-top: -5vw;
  clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  height: 100%;
  align-items: center;
}

.about-me-section {
  width: 70%;
  margin: 0 auto;
}

h3 {
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 6vmax;
  line-height: 1;

  margin: 0 auto 50px;
}

p {
  font-family: var(--primary-font);
  width: 60%;
  margin: 0;
}

.first-paragraph {
  float: left;
  text-align: left;
  margin-bottom: 30px;
}

.second-paragraph {
  float: right;
  text-align: right;
}
